.board-whole {
  width: 600px;
  height: 600px;
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.board-square {
  background-color: rgb(63, 175, 85);
}
